<!--TODO: Move Navbar to navbar component -->


<div id="dashboardPage">
  <!-- Sidebar to display user information and  song lists you have-->
  <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div id="userdisplay">
      <div id="userbindcontainer">
        <img src="./resources/discord.png" alt="photo-sub" style="width:80px;height:80px;">
        <h5 id="username"></h5>
      </div>
    </div>
    </br>
    <div class="position-sticky pt-3" >
      <ul class="list-unstyled ps-0">
        <li class="nav-item">
          <h3 style="color: #1C1E3F;"><span>Playlists</span></h3>
        </li>
        <li>
          <button class="btn btn-default" id="addMyBtn" data-modal="modalOne">+</button>
        </li>
        <li class="mb-1" id="myPlaylistList">
          <h4>
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#mylist-collapse" aria-expanded="true">

            My Playlists
          </button>
          </h4>
          <div class="collapse show" id="mylist-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small" id="privateListName"></ul>
          </div>
        </li>
        <li class="mb-1" id ="publicPlaylistList">
          <button id='PublicListBtn' class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
            Public Playlists
          </button>
          <div class="collapse" id="dashboard-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small" id="publicListName">
            </ul>
          </div>
        </li>
        
      </ul>
      
    </div>
    <div class="nav-item text-nowrap" id="logout-link">
      <a class="nav-link px-3" href="http://127.0.0.1:5500/index.html">Sign out</a>
    </div>
  </nav>
  

  <!-- Main page for a selected song list -->
  <main id='listContainer'>
    <h2 id="playlistname"></h2>
    <button class="btn btn-default" id = "addNewSongsBtn"><h4>+</h4></button>
      <div id = "playlistHeader">
        <table  id="PlaylistTable" class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col" style="width: 10%">Song Name</th>
              <th scope="col" style="width: 20">Duration</th>
              <th scope="col" style="width: 70%">URL</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
  </main>
  <!-- Pop Up Window for Adding New List -->
  <div id="addToMyList" class="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-5 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h2 class="fw-bold mb-0">Add New Playlist</h2>
          <button id="newListClose"  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-5 pt-0">
          <form id="NewListForm">
            <div class="form-floating mb-3">
              <input type="text" class="form-control rounded-4" id="NewListNameInput" placeholder="Input List Name">
              <label for="NewListNameInput">Playlist Name</label>
            </div>
            <div class="form-group">
              <label for="DescriptionInput">Description...</label>
              <textarea class="form-control" id="DescriptionInput" rows="3"></textarea>
            </div>
          </br>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="access-type">
            <label class="form-check-label" for="access-type">
              Public
            </label>
          </div>
          </br>
            <button class="w-30 mb-2 btn btn-lg rounded-4 btn-primary" id="submitNewListBtn" style="margin-left: 40%;">add</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Pop Up Window for Adding New Songs -->
  <div id="addSongs" class="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-5 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h2 class="fw-bold mb-0">Add New Songs</h2>
          <button id="newSongClose"  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-5 pt-0">
          <form id="NewSongForm">
            <div class="form-floating mb-3">
              <input type="text" class="form-control rounded-4" id="NewSongNameInput" placeholder="Input Song Name">
              <label for="NewSongNameInput">Song Name</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control rounded-4" id="NewDurationInput" placeholder="Input Duration">
              <label for="NewDurationInput">Duration</label>
            </div>
            <div class="form-floating mb-3">
              <input type="url" class="form-control rounded-4" id="NewSongURLInput" placeholder="Input URL">
              <label for="NewSongURLInput">Song URL</label>
            </div>
          </br>
            <button class="w-30 mb-2 btn btn-lg rounded-4 btn-primary" id="submitNewSongBtn" style="margin-left: 40%;">add</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

