#dashboardPage {
  display: flex;
  top: 0%;
  bottom: 0%;
}

img {
  border-radius: 50%;
}
#addToMyList {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  padding-top: 10%;
  z-index: 10;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

#addMyBtn {
  float: right;
}

#addSongs {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  padding-top: 10%;
  z-index: 11;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.userdisplay {
  height: 90px;
  width: 200px;
}
#userbindcontainer {
  height: 90px;
  width: 90px;
  margin-left: 30%;
}
#username {
  color: cornflowerblue;
}

.playlist-item {
  padding: 5%;
}

#sidebarMenu {
  height: 100vh;
  position: relative;
}

#listContainer {
  background-color: #1c1e3f;
  width: 100%;
  height: 100vh;
}

#playlistname {
  color: white;
  float: left;
}

#addNewSongsBtn {
  float: left;
}

#dashboardPage {
  background-color: #212529;
}

#playlistHeader {
  background-color: #212529;
}

#logout-link {
  position: absolute;
  bottom: 0px;
  margin-bottom: 25px;
  font-size: larger;
}

#playlist-id {
  color: rgb(180, 180, 180);
  float: left;
}

#delete-song {
  float: right;
}

#invite-users {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  padding-top: 10%;
  z-index: 12;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
#invite-btn {
  float: right;
}
#delete-Btn {
  float: right;
}

#edit-Btn {
  float: left;
}

#delete-warning {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  padding-top: 10%;
  z-index: 13;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
#access-div {
  float: right;
}
