<!--TODO: Move Navbar to navbar component -->


<div id="dashboardPage">
  <!-- Sidebar to display user information and  song lists you have-->
  <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div id="userdisplay">
      <div id="userbindcontainer">
        <img src="./resources/discord.png" alt="photo-sub" style="width:80px;height:80px;">
        <h5 id="username"></h5>
      </div>
    </div>
    </br>
    <div class="position-sticky pt-3" >
      <ul class="list-unstyled ps-0">
        <li class="nav-item">
          <h3 style="color: #1C1E3F;"><span>Playlists</span></h3>
        </li>
        <li>
          <button class="btn btn-default" id="addMyBtn" data-modal="modalOne">+</button>
        </li>
        <li class="mb-1" id="myPlaylistList">
          <h4>
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#mylist-collapse" aria-expanded="true">
            My Playlists
          </button>
          </h4>
          <div class="collapse show" id="mylist-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small" id="privateListName"></ul>
          </div>
        </li>
        <li class="mb-1" id ="publicPlaylistList">
          <button id='PublicListBtn' class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
            Public Playlists
          </button>
          <div class="collapse" id="dashboard-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small" id="publicListName">
            </ul>
          </div>
        </li>
        
      </ul>
      
    </div>
    <div class="nav-item text-nowrap" id="logout-link">
      <button id = "logoutClick" class="nav-link px-3" >Sign out</button>
    </div>
  </nav>
  

  <!-- Main page for a selected song list -->
  <main id='listContainer'>
    
  </br>
</br>
    <h2 id="playlistname"></h2>
    <button id="delete-Btn" type="button" class="btn btn-danger">
      <ion-icon name="trash-outline"></ion-icon>
    </button>
    <button id="invite-btn" type="button" class="btn btn-info">
      <ion-icon name="person-add-outline"></ion-icon>
    </button>
    <button id="edit-Btn" type="button" class="btn btn-primary">
      <ion-icon name="pencil-outline"></ion-icon>
    </button>
    <button class="btn btn-light" id = "addNewSongsBtn">
      <ion-icon name="add-outline"></ion-icon>
    </button>
    <div id="access-div" class="btn-group">
      <button id="who-can-access-btn" type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Who Can Access
      </button>
      <ul id="access-table" class="dropdown-menu">
      </ul>
    </div>
      <div id = "playlistHeader">
        <table  id="PlaylistTable" class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col" style="width: 30%">Song Name</th>
              <th scope="col" style="width: 20">Duration</th>
              <th scope="col" style="width: 50%">URL</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
  </main>
  <!-- Pop Up Window for Adding New List -->
  <div id="addToMyList" class="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-5 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h2 class="fw-bold mb-0">Add New Playlist</h2>
          <button id="newListClose"  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-5 pt-0">
          <form id="NewListForm">
            <div class="form-floating mb-3">
              <input type="text" class="form-control rounded-4" id="NewListNameInput" placeholder="Input List Name">
              <label for="NewListNameInput">Playlist Name</label>
            </div>
            <div class="form-group">
              <label for="DescriptionInput">Description...</label>
              <textarea class="form-control" id="DescriptionInput" rows="3"></textarea>
            </div>
          </br>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="access-type">
            <label class="form-check-label" for="access-type">
              Public
            </label>
          </div>
          </br>
            <button class="w-30 mb-2 btn btn-lg rounded-4 btn-primary" id="submitNewListBtn" style="margin-left: 40%;">add</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Pop Up Window for Adding New Songs -->
  <div id="addSongs" class="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-5 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h2 class="fw-bold mb-0">Add New Songs</h2>
          <button id="newSongClose"  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-5 pt-0">
          <form id="NewSongForm">
        
            <div class="form-floating mb-3">
              <input type="url" class="form-control rounded-4" id="NewSongURLInput" placeholder="Input URL">
              <label for="NewSongURLInput">Song URL</label>
            </div>
          </br>
            <button class="w-30 mb-2 btn btn-lg rounded-4 btn-primary" id="submitNewSongBtn" style="margin-left: 40%;">add</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Add new access user form -->
    <div id="invite-users" class="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content rounded-5 shadow">
          <div class="modal-header p-5 pb-4 border-bottom-0">
            <h2 class="fw-bold mb-0">Invite Friends to Access</h2>
            <button id="new-invite-close-btn"  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body p-5 pt-0">
            <form id="NewInviteForm">
              <div class="form-floating mb-3">
                <input type="text" class="form-control rounded-4" id="new-invite-username" placeholder="Input Friend's Username">
                <label for="new-invite-username">Username</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control rounded-4" id="new-invite-discriminator" placeholder="Input Friend's Discriminator">
                <label for="new-invite-discriminator">Discriminator</label>
              </div>
            </br>
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                  <input type="radio" name="options" id="VIEWER" autocomplete="off" checked> VIEWER
                </label>
                <label class="btn btn-secondary">
                  <input type="radio" name="options" id="EDITOR" autocomplete="off"> EDITOR
                </label>
              </div>
            </br>
            </br>
              <button class="w-30 mb-2 btn btn-lg rounded-4 btn-primary" id="submit-invite-btn" style="margin-left: 40%;">Invite</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="delete-warning" class="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content rounded-5 shadow">
          <div class="modal-header p-5 pb-4 border-bottom-0">
            <h2 class="fw-bold mb-0">Are you sure you want to delete the playlist?</h2>
          </div>
          <div class="modal-body p-5 pt-0">
            <form id="delete-form">
            </br>
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                  <input type="radio" name="options" id="YES" autocomplete="off" checked> Yes
                </label>
                <label class="btn btn-secondary">
                  <input type="radio" name="options" id="NO" autocomplete="off"> Cancel
                </label>
              </div>
            </br>
            </br>
              <button class="w-30 mb-2 btn btn-lg rounded-4 btn-primary" id="confirm-delete-btn" style="margin-left: 40%;">Confirm</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>

